<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045499824729-5435v3dfv1oculu2e7l006b46ejlut54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045499824729-5435v3dfv1oculu2e7l006b46ejlut54</string>
	<key>API_KEY</key>
	<string>AIzaSyD57rv7w13f_y4HK-vgl2J1U8norA6z9-8</string>
	<key>GCM_SENDER_ID</key>
	<string>1045499824729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNoteApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-note-app-5bc94</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-note-app-5bc94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045499824729:ios:c9837eb22285f3a10e3f48</string>
</dict>
</plist>